# Directories
node_modules/
dist/
coverage/
build/
*.egg-info/
.env

# Files
*.log
*.pid
*.seed
*.sqlite
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# Editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*~
